*.sln
*.svd
*.suo
*.userprefs
*.csproj
*.pidb
*.unityproj
*.user
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/Library/
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp
/UnityGenerated
/ExportedObj